/* @define-color bg    #1a1b26; */
/* @define-color fg    #a9b1d6; */
/* @define-color blk   #32344a; */
/* @define-color red   #f7768e; */
/* @define-color grn   #9ece6a; */
/* @define-color ylw   #e0af68; */
/* @define-color blu   #7aa2f7; */
/* @define-color mag   #ad8ee6; */
/* @define-color cyn   #0db9d7; */
/* @define-color brblk #444b6a; */
/* @define-color white #ffffff; */
@define-color bg      #282a36;
@define-color fg      #f8f8f2;
@define-color blk     #21222c;
@define-color red     #ff5555;
@define-color grn     #50fa7b;
@define-color ylw     #f1fa8c;
@define-color blu     #bd93f9;
@define-color mag     #ff79c6;
@define-color cyn     #8be9fd;
@define-color brblk   #44475a;
@define-color white   #ffffff;


* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

/* window#waybar { */
/*     background-color: @bg; */
/*     color: @fg; */
/* } */


window#waybar {
    background-color: @blk;
    color: @fg;
}

#workspaces button {
    padding: 0 4px;
    color: @fg;
    background: transparent;
    border-bottom: 2px solid @bg;
}
#workspaces button.active {
    color: @fg;
    border-bottom: 2px solid @blu;
}
#workspaces button.hidden {
    color: @brblk;
}
#workspaces button.hidden.active {
    color: @cyn;
    border-bottom: 2px solid @blu;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -2px @fg;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 6px;
    color: @white;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @cyn;
    /* border-bottom: 3px solid @cyn; */
}

#battery {
    color: @blu;
    /* border-bottom: 3px solid @blu; */
}

#disk {
    color: @ylw;
    /* border-bottom: 3px solid @ylw; */
}

#memory {
    color: @mag;
    /* border-bottom: 3px solid @mag; */
}

#cpu {
    color: @grn;
    /* border-bottom: 3px solid @grn; */
}

#network {
    color: @red;
    /* border-bottom: 3px solid @red; */
}

#network.disconnected {
    background-color: @red;
}

#tray {
    background-color: @brblk;
}
